<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Chat-Eleon</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/" id="user-welcome"></a> </li>
      <li><a href="/" class="fb-logout-button" onclick="logout()" style="display:none">Logout</a></li>
      <li><a href="/">Home</a></li>
      <li id="group-menu" style="display:none"><a href="/groups">List Group</a></li>
    </ul>
  </div>
</nav>
