<%- include ./partials/header %>
<%- include ./partials/navbar %>



<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col s4 offset-s4">
      <fb:login-button class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();">
        Login
      </fb:login-button>
      <button type="button" name="button" class="fb-logout-button" onclick="logout()">
        logout
      </button>

    </div>
  </div>

  <p>hello world</p>
</div>
<%- include ./partials/fb %>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<%- include ./partials/footer %>
