<%- include ../partials/header %>
<%- include ../partials/navbar %>

<div class="container" style="margin-top: 10px">
  <h3 id="group-title"></h3>
  <h6 id="default-language"></h6>
  <input type="hidden" name="" value="" id="language-value">
  <br><br>
  <div class="row">
    <div class="input-field col s3">
      <input  id="text" type="text" class="validate">
      <label class="active" for="text">Chat</label>
    </div>
    <div class="input-field col s3">
      <button type="button" name="button" id="btn-send" class="waves-effect waves-light btn red">Send</button>
    </div>
    <div class="input-field col s3">
      <input  id="text-search" type="text" class="validate">
      <label class="active" for="text">Search Info</label>
    </div>
    <div class="input-field col s3">
      <button type="button" name="button" id="btn-search" class="waves-effect waves-light btn red">Search</button>
    </div>
  </div>
  <%# End Form %>
  <div class="row">
    <div class="col s6">
      <ul class="collection" id="list-search">
      </ul>
    </div>
    <div class="col s6">
      <ul class="collection" id="list-stack">
      </ul>
    </div>
  </div>
  <ul class="collection" id="list-message">
  </ul>
</div>

<script src="/javascripts/message.js">
</script>
<%- include ../partials/footer %>
