<%include ../partials/header%>
<%include ../partials/navbar%>

  <div class="container">
    <h5>Create New Group</h5>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="group" type="text" class="validate" placeholder="Group name">
      </div>
      <div class="input-field col s6">
          <i class="material-icons prefix">language</i>
          <select id = "language" >
            <option value="" disabled selected>Choose your chat translate</option>
            <option value="id">Indonesian</option>
            <option value="ms">Malay</option>
            <option value="ja">Japanese</option>
            <option value="jw">Javanese</option>
            <option value="en">English</option>
          </select>
        </div>
    </div>
    <button style="margin-left:10px" class="waves-effect waves-light btn red" type="button" id ="create-group">Submit
        <i class="material-icons right">send</i>
      </button> 
  </div>
</div>
  

 <script>
   $(document).ready(function() {
    $('select').material_select();
  });
 </script> 
<script src="/javascripts/Group.js">

</script>
  

  <%include ../partials/footer%>