<%include ../partials/header%>
<%include ../partials/navbar%>

<form method = "post" class="col s12">
  <div class="row">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
      <input id="group" type="text" class="validate" placeholder="Group name">
    </div>
  </div> 
  <div>  
    <div class="input-field col s6">
        <i class="material-icons prefix">language</i>
        <input id="langguage" type="text" class="validate" placeholder="Langguage">
      </div>
    </div>
  </div>

  <button class="waves-effect waves-light btn red" type="submit" id = "create-group">Submit
    <i class="material-icons right">send</i>
  </button> 
</form>
  

  <%include ../partials/footer%>