<%include ../partials/header%>
<%include ../partials/navbar%>

<div class = "container" style = "margin-top : 10px" >
    <button type="submit" >
        <a href="groups/creategroup"><i class="material-icons">group_add</i>Create new Group </a>
    </button>
    
    <!-- data from backend-->
    <div>
        <h5> List Group </h5>
        <li>
            <ul></ul>
            <ul></ul>
            <ul></ul>
        </li>
    </div>
</div>




<%include ../partials/footer%>

